/*
 * Name: ValleyKidz team
 * Date: 11.16.19
 * Description: This file contains the adminprofile dashboard styles.
 */

.tab-content {
    padding: 20px;
}

.nav-pills .nav-link {
    color: #559bca;
}

.nav-link:focus, .nav-link:hover {
    color: #333333;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #559bca;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.success_h2 {
    font-size: 1.25rem;
    color: #99c24d;
}

.failure_h2 {
    font-size: 1.25rem;
}