/*
 * Name: ValleyKidz team
 * Date: 11.12.19
 * Description: This file contains the branchprofile dashboard styles.
 */

/* Heading styles *********************************************/
.add-remove {
    font-size: 1.25rem;
}

.quick-sr {
    font-size: 1.25rem;
}

/* Custom Button Styles ***************************************/

.addclient-btn {
    background-color: #99c24d !important;
}

.addclient-btn:hover, .addclient-btn:active, .addclient-btn:focus {
    background-color: #7e9f40 !important;
}

.removeclient-btn {
    background-color: #559bca !important;
}

.removeclient-btn:hover, .removeclient-btn:active, .removeclient-btn:focus {
    background-color: #467fa6 !important;
}

.viewform-btn {
    background-color: #559bca !important;
}

.viewform-btn:hover, .viewform-btn:active, .viewform-btn:focus {
    background-color: #467fa6 !important;
}

button{
    width:200px;
}

.hrefBut{
    width:200px;
}

td,th {
    background-color: white;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgba(166, 155, 120, 0.21) !important;
}

caption{
    font-size: 1.2em;
}