/*
 * Name: ValleyKidz team
 * Date: 11.12.19
 * Description: This file contains the branchprofile dashboard styles.
 */

/* Heading styles *********************************************/
.add-remove {
    font-size: 1.25rem;
}

.quick-sr {
    font-size: 1.25rem;
}

/* Custom Button Styles ***************************************/

.addclient-btn {
    background-color: #99c24d !important;
}

.addclient-btn:hover {
    background-color: #7e9f40 !important;
}

.removeclient-btn {
    background-color: #559bca !important;
}

.removeclient-btn:hover {
    background-color: #467fa6 !important;
}

.viewform-btn {
    background-color: #559bca !important;
}

.viewform-btn:hover {
    background-color: #467fa6 !important;
}
