/*
 * Name: ValleyKidz team
 * Date: 11.12.19
 * Description: This file contains the diary form card styles.
 */

/** Nav Tab Styles ********************************************/
.active {
    color: #333333;
    background-color: #fefaf1 !important;
    border-bottom-color: #fefaf1 !important;
}

.tab-style {
    background-color: #f1ede5;
    color: #559bca;
}

.nav-tabs .nav-link {
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #e8e2d4;
    padding: .7rem 1rem;
}

.tab-style:hover {
    color: #333333;
    background-color: #dfd6c4;
}

/** General Form Page Styles **********************************/
.form_h2 {
    font-weight: bold;
    text-align: center;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}

/** Emotions, Targets, Skills 0-5 & 1-0 input scale Styles ********/
.list {
    display: flex;
    justify-content: center;
}

.skill_key {
    font-size: 0.75rem;
}

.skill_key_h3 {
    font-size: 0.75rem;
    font-weight: bold;
}

/** Makes key text resize on mobile **/
@media screen and (max-width: 767px) {
    .skill_key {
        font-size: 0.6rem;
    }

    .skill_key_h3 {
        font-size: 0.6rem;
        font-weight: bold;
    }
}

/** Accordion Skills Card Styles ******************************/
.card {
    background-color: #fefaf1;
}

.card_a {
    font-size: 1rem;
    text-align: center;
    color: #333333;
}

.card_a:hover {
    background-color: #559bca !important;
    cursor: pointer;
    text-decoration: none;
    color: #333333;
}