/*
 * Name: ValleyKidz team
 * Date: 11.12.19
 * Description: This file contains the general web app styles.
 */

body {
    background-color: #fefaf1;
    color: #333333;
    font-family: 'Merriweather', serif;
}

/** General primary button styles ******************************/

.btn-primary {
    background-color: #FBAF3b;
    text-shadow: .1px .1px .1px #333333;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: white;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #ed9d25 !important;
    text-shadow: .1px .1px .1px #333333;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: white;
}

nav button{
    width:auto;
}

/* Shadow *****************************************************/

.boxShadow {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

/* General Background Colors **********************************/
.bgdkblue {
    background-color: #23446e;
}

.bgwhite {
    background-color: #fefaf1;
}

.bglgrey {
    background-color: #999999;
}

.bgdkgrey {
    background-color: #333333;
}

.bglblue {
    background-color: #559bca;
}

.bglghtestblue {
    background-color: #b5d1e0;
}

.bgdkgold {
    background-color: #FBAF3b;
}

.bglggold{
    background-color: #f1bc33;
}


/* General colors *********************************************/

.white {
    color: #fefaf1;
}

.dkblue {
    color: #23446e;
}

.lblue {
    color: #559bca;
}

.lghtestblue {
    color: #b5d1e0;
}

.lgold {
    color: #f1bc33;
}

.dkgold {
    color: #FBAF3b;
}

.dkgrey {
    color: #333333;
}

.lgrey {
    color: #999999;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

/* Fonts ******************************************************/
.mer {
    font-family: 'Merriweather', serif;
}

.mus {
    font-family: museo-sans, sans-serif;
    font-style: normal;
    font-weight: 100;
}

.fullwidth {
    width: 100%;
}

.check{
    font-size: 1.5em;
}


/* Table Styles ******************************************************/

.empty {
    background-color: #e6e6e6;
}

.caption{
    caption-side: top;
}

/* Style Colors:
Recruitment Colors
Light BlueHex:      559BCA
Dark BlueHex:      23446E
Gold 1Hex:      F1BC33
Gold 2Hex:      FBAF3B

Additional Colors
Dark GreyUsed for all body copyHex:      333333
Light GreySupport color, used sparinglyHex:      999999

Typography:
MERRIWEATHER
MUSEO SANS
 */