/*
    Valley Kidz
    11/20/19
    view_form_styles.css
    Stylings for the form view page
 */

td {
    background-color: white;
    word-wrap: break-word;
}

div.data {
    overflow-x: auto;
    width: 90%;
    margin: auto;
}

.card {
    width: 100%;
}

a.card-header {
    color: white;
    font-size: 2em;
}

a.skillsHeader {
    font-size: 1em;
}

#printTop {
    margin-right: 5%;
}

#noteHead {
    width: 10%;
}

/* pagination on media request in order to create page breaks for tables*/
@media print {
    .pagination {
        page-break-after: always;
    }

    tr {
        font-size: .8em;
    }

    .hideOnPrint {
        display: none;
    }
}