<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="stylesheets/general.css" lang="en">
    <link type="text/css" rel="stylesheet" href="stylesheets/admin_profile_styles.css" lang="en">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bgdkblue">
    <a class="navbar-brand mus" href="adminprofile">
        Valley <span class="lgold">|</span> Cities DBT Portal
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse text-right mus">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="./" class="nav-link mus font-weight-bold">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<!-- End of Navbar -->
<div class="container mt-4">
    <div class="card mx-auto col-lg-8 mt-3 mb-3">
        <div class="card-body">
            <!-- Dynamic Select Nav -->
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-add-client-tab" data-toggle="pill" href="#pills-add-client"
                       role="tab" aria-controls="pills-add-client" aria-selected="true"> + Client Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-add-clinician-tab" data-toggle="pill" href="#pills-add-clinician"
                       role="tab" aria-controls="pills-add-clinician" aria-selected="false"> + Clinician Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-change-client-password-tab" data-toggle="pill"
                       href="#pills-change-client-password"role="tab" aria-controls="pills-change-client-password"
                       aria-selected="false">Change Client Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-change-cln-password-tab" data-toggle="pill"
                       href="#pills-change-cln-password" role="tab" aria-controls="pills-change-cln-password"
                       aria-selected="false">Change Clinician Password</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-add-client" role="tabpanel"
                     aria-labelledby="pills-add-client-tab">
                    <h1>Create Client Account</h1>
                    <!-- Start of Create New Client Account Form-->
                    <form method="post" action="#" id="createClient">
                        <div class="form-group">
                            <label for="newClientId">Client Id</label>
                            <input type="text" class="form-control" id="newClientId" name="newClientId"
                                   placeholder="Client Id">
                            <check if="{{ @errors['newClientId'] }}">
                                <small id="clientIDHelp"
                                       class="form-text text-muted"> {{ @errors['newClientId'] }}</small>
                            </check>
                        </div>
                        <div class="form-group">
                            <label for="ncPassword">Password</label>
                            <input type="password" class="form-control" id="ncPassword" name="ncPassword"
                                   placeholder="Password">
                            <check if="{{ @errors['password'] }}">
                                <small id="clientPwHelp1"
                                       class="form-text text-muted"> {{ @errors['password'] }}</small>
                            </check>
                        </div>
                        <div class="form-group">
                            <label for="ncPasswordConfirm">Confirm Password</label>
                            <input type="password" class="form-control" id="ncPasswordConfirm" name="ncPasswordConfirm"
                                   placeholder="Conform Password">
                            <check if="{{ @errors['password2'] }}">
                                <small id="clientPWHelp2"
                                       class="form-text text-muted"> {{ @errors['password2'] }}</small>
                            </check>
                        </div>
                        <div class="text-center">
                            <button type="submit" value="createClient" name="action"
                                    class="btn btn-primary mt-2 mb-2 rounded-0 border-0">Create</button>
                            <h2 class="success_h2 text-center">{{ @clientAccSuccess }}</h2>
                            <h2 class="failure_h2 text-center">{{ @errors['clientAccFail'] }}</h2>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="pills-add-clinician" role="tabpanel"
                     aria-labelledby="pills-add-clinician-tab">
                    <h1>Create Clinician Account</h1>
                    <!-- Start of Create Clinician Account Form-->
                    <form method="post" action="#" id="createClinician">
                        <div class="form-group">
                            <label for="nClnUsername">Username</label>
                            <input type="text" class="form-control" id="nClnUsername" name="nClnUsername"
                                   placeholder="Username">
                            <check if="{{ @errors['clnUsername'] }}">
                                <true>
                                    <small id="usernameHelp"
                                           class="form-text text-muted"> {{ @errors['clnUsername'] }}</small>
                                </true>
                                <false>
                                    <small id="usernameHelp1"
                                           class="form-text text-muted">Format: First letter of first name,
                                        followed by last name</small>
                                </false>
                            </check>
                        </div>
                        <div class="form-group">
                            <label for="nclnPassword">Password</label>
                            <input type="password" class="form-control" id="nclnPassword" name="nclnPassword"
                                   placeholder="Password">
                            <check if="{{ @errors['clnPassword'] }}">
                                <small id="nclnPwHelp"
                                       class="form-text text-muted"> {{ @errors['clnPassword'] }}</small>
                            </check>
                        </div>
                        <div class="form-group">
                            <label for="nclnPasswordConfirm">Confirm Password</label>
                            <input type="password" class="form-control" id="nclnPasswordConfirm" name="nclnPasswordConfirm"
                                   placeholder="Conform Password">
                            <check if="{{ @errors['clnPassword2'] }}">
                                <small id="nclnPwHelp2"
                                       class="form-text text-muted"> {{ @errors['clnPassword2'] }}</small>
                            </check>
                        </div>
                        <div class="text-center">
                            <button type="submit" value="createClinician" name="action"
                                    class="btn btn-primary mt-2 mb-2 rounded-0 border-0">Create</button>
                        </div>
                        <h2 class="success_h2 text-center">{{ @clnAccSuccess }}</h2>
                        <h2 class="failure_h2 text-center">{{ @errors['clnAccFail'] }}</h2>
                    </form>
                </div>
                <div class="tab-pane fade" id="pills-change-client-password" role="tabpanel"
                     aria-labelledby="pills-change-client-password-tab">
                    <h1>Change Client Account Password</h1>
                    <!-- TODO Start of reset account password -->
                    <form method="post" action="#" id="changeClientPassword">
                        <div class="form-group">
                            <label for="chgClientPwId">Client Id</label>
                            <input type="text" class="form-control" id="chgClientPwId" name="chgClientPwId"
                                   placeholder="Client Id">
                            <check if="{{ @errors['chgClientPwId'] }}">
                                <small id="chgClientPwIdHelp"
                                       class="form-text text-muted"> {{ @errors['chgClientPwId'] }}</small>
                            </check>
                        </div>
                        <div class="form-group">
                            <label for="chgPwNewPw">New Password</label>
                            <input type="password" class="form-control" id="chgPwNewPw" name="chgPwNewPw"
                                   placeholder="New Password">
                            <check if="{{ @errors['chgPwNewPw'] }}">
                                <small id="chgPwHelp"
                                       class="form-text text-muted"> {{ @errors['chgPwNewPw'] }}</small>
                            </check>
                        </div>
                        <div class="form-group">
                            <label for="chgPwNewPwConfirm">Confirm Password</label>
                            <input type="password" class="form-control" id="chgPwNewPwConfirm" name="chgPwNewPwConfirm"
                                   placeholder="Confirm Password">
                            <check if="{{ @errors['chgPwNewPw2'] }}">
                                <small id="chgPwHelp2"
                                       class="form-text text-muted"> {{ @errors['chgPwNewPw2'] }}</small>
                            </check>
                        </div>
                        <div class="text-center">
                            <button type="submit" value="changeClientPassword" name="action"
                                    class="btn btn-primary mt-2 mb-2 rounded-0 border-0">Confirm Change</button>
                        </div>
                        <h2 class="success_h2 text-center">{{ @updatePwSuccess }}</h2>
                        <h2 class="failure_h2 text-center">{{ @errors['updatePwFail'] }}</h2>
                    </form>
                </div>
                <div class="tab-pane fade" id="pills-change-cln-password" role="tabpanel"
                     aria-labelledby="pills-change-cln-password-tab">
                    <h1>Change Clinician Account Password</h1>
                    <!-- TODO Start of Admin reset account password -->
                    <form method="post" action="#" id="changeClnPassword">
                        <div class="form-group">
                            <label for="chgPwClnUsername">Username</label>
                            <input type="text" class="form-control" id="chgPwClnUsername" name="chgPwClnUsername"
                                   placeholder="Username">
                            <check if="{{ @errors['chgPwClnUsername'] }}">
                                <small id="chgPwClnUsernameHelp"
                                       class="form-text text-muted"> {{ @errors['chgPwClnUsername'] }}</small>
                            </check>
                        </div>
                        <div class="form-group">
                            <label for="chgPwClnNewPw">New Password</label>
                            <input type="password" class="form-control" id="chgPwClnNewPw" name="chgPwClnNewPw"
                                   placeholder="New Password">
                            <check if="{{ @errors['chgPwClnNewPw'] }}">
                                <small id="chgPwClnNewPwHelp"
                                       class="form-text text-muted"> {{ @errors['chgPwClnNewPw'] }}</small>
                            </check>
                        </div>
                        <div class="form-group">
                            <label for="chgPwClnNewPw2">Confirm Password</label>
                            <input type="password" class="form-control" id="chgPwClnNewPw2" name="chgPwClnNewPw2"
                                   placeholder="Confirm Password">
                            <check if="{{ @errors['chgPwClnNewPw2'] }}">
                                <small id="chgPwClnNewPwConfirmHelp"
                                       class="form-text text-muted"> {{ @errors['chgPwClnNewPw2'] }}</small>
                            </check>
                        </div>
                        <div class="text-center">
                            <button type="submit" value="changeClnPassword" name="action"
                                    class="btn btn-primary mt-2 mb-2 rounded-0 border-0">Confirm Change</button>
                        </div>
                        <h2 class="success_h2 text-center">{{ @updateClnPwSuccess }}</h2>
                        <h2 class="failure_h2 text-center">{{ @errors['updateClnPwFail'] }}</h2>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>