<!--
File: branchprofile.html
Author: Valley Kidz Team
Date:11/13/2019
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/general.css" lang="en">
    <link type="text/css" rel="stylesheet" href="stylesheets/branch_profile_styles.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <title>Group Leader | Dashboard</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bgdkblue">
    <a class="navbar-brand mus" href="branchprofile">
        Valley <span class="lgold">|</span> Cities DBT Portal
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse text-right mus">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="./" class="nav-link mus font-weight-bold">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<!-- End of Navbar-->
<div class="container-fluid">
    <h1 class="text-center mt-4"><strong>Welcome Back</strong></h1>
    <h2 class="mt-5 text-center add-remove">Add/Remove Clients To Your Profile</h2>
        <form method="post" action="#">
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-2"></div>
            <input class="form-control col-lg-6 col-md-8 col-sm-8" name="clientnum"
                   type="text" placeholder="Input client id #">
            <div class="col-lg-3 col-md-2 col-sm-2"></div>
        </div>
        <div class="text-center m-1">
            <button class="btn addclient-btn btn-primary rounded-0 border-0"
                    type="submit" name="add" value="save">ADD CLIENT</button>
            <button class="btn removeclient-btn btn-primary rounded-0 border-0"
                    type="submit" name="remove" value="delete"
                    onclick="return confirm('Are you sure you want to remove client?');">REMOVE CLIENT</button>
        </div>
        <div class="text-center">
            <span class="text-danger">{{@errors.addErr}} {{@dberror}}</span>
        </div>
    </form>
    <hr class="col-10">
    <check if="{{@links==null}}">
        <true>
            <h5 class="text-center">No Current Clients Connected To Your Profile</h5>
        </true>
        <false>
            <div class="table-responsive">
                <table id="branchtable" class="table table-hover dt-responsive display nowrap">
                    <tr>
                        <th>Client #</th>
                        <th>Create/Submit</th>
                        <th>Submitted Forms</th>
                    </tr>
                    <repeat group="{{@links}}"
                            key="{{ @key }}"
                            value="{{ @value }}">
                        <tr>
                            <td><h5>{{@value.client_id}}</h5></td>
                                <check if="@db->getCurrentFormId(@value.client_id)">
                                    <true>
                                        <td>
                                        <form action="#" method="post">
                                        <input name="id" type="text" value="{{@value.client_id}}" class="d-none">
                                        <button type="submit"
                                        onclick="return confirm('Are you sure you want to submit form for client# {{@value.client_id}}?')";
                                        class="btn btn-primary rounded-0 border-0 addclient-btn">
                                        SUBMIT PRIOR DBT</button>
                                        </form>
                                        </td>
                                    </true>
                                    <false>
                                        <td>
                                            <a href="createdbt?id={{@value.client_id}}"
                                            class="btn btn-primary rounded-0 border-0 hrefBut">
                                            CREATE NEW  DBT</a>
                                        </td>
                                    </false>
                                </check>
                            <td><a href="formtable?id={{@value.client_id}}"
                                   class="btn viewform-btn btn-primary rounded-0 border-0 hrefBut">VIEW</a></td>
                        </tr>
                    </repeat>
                </table>
            </div>
        </false>
    </check>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="model/js/branchtables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>