<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="stylesheets/general.css" lang="en">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <title>Profile</title>
</head>
<body>
<!-- CodePly modified code -->
<nav class="navbar navbar-expand-lg bglghtestblue">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand dkblue mus" href="#">
            Valley <span class="lgold">|</span> Cities DBT Portal
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="./" class="nav-link white mus font-weight-bold">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="m-2">
<h4>Welcome Back Jadivan</h4>
<h3>Current Clients</h3>
<table id="branchtable">
    <tr>
        <th>Client</th>
        <th>Create/Edit DBTS</th>
        <th>View Completed Forms</th>
    </tr>
    <tr>
        <td><h5> 113516:</h5></td>
        <td><a href="createdbt" type="button" class="btn btn-sm white bgdkgold mus font-weight-bold rounded-0 border-0">Create This Weeks DBT</a></td>
        <td><button type="button" class="btn btn-sm btn-secondary">View Submitted Forms</button></td>
    </tr>
    <tr>
        <td><h5> 223555:</h5></td>
        <td><button type="button" class="btn btn-sm btn-primary">Edit Weekly DBT</button></td>
        <td><button type="button" class="btn btn-sm btn-secondary">View Submitted Forms</button></td>

    </tr>
</table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script>
    $(document).ready( function () {
        $('#branchtable').DataTable();
    } );
</script>
</body>