<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/general.css" lang="en">

    <title>Group Leader | Dashboard</title>
</head>
<body>
<!-- CodePly modified code -->
<nav class="navbar navbar-expand-lg navbar-dark bglghtestblue">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand mus" href="branchprofile">
            Valley <span class="lgold">|</span> Cities DBT Portal
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="#" class="nav-link white mus font-weight-bold">Quicksearch</a>
            </li>
            <li class="nav-item">
                <a href="./" class="nav-link white mus font-weight-bold">Logout</a>
            </li>
        </ul>
    </div>
</nav>


<!-- End of Nav-->
<div class="container-fluid">
    <h4 class="text-center mt-4 m-2"><strong>View DBTS</strong></h4>
    <h5 class="text-center">Client# {{@GET.id}}</h5>

    <h5>Current Session</h5>
    <ul>
        {{@formsplit->printWeeks('2019-10-14', '2019-10-25', 1, @GET.id)}}
    </ul>
    <h5>1st Session</h5>
    <ul>
        {{@formsplit->printWeeks('2019-10-1', '2019-10-14', 1, @GET.id)}}
    </ul>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>