<!--
File: clinicianconfirm.html
Author: Valley Kidz Team
Date:11/13/2019
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/general.css" lang="en">
    <link type="text/css" rel="stylesheet" href="stylesheets/clinician_confirm_styles.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <title>Confirmation</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bgdkblue">
    <a class="navbar-brand mus" href="branchprofile">
        Valley <span class="lgold">|</span> Cities DBT Portal
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse text-right mus">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="./" class="nav-link mus font-weight-bold">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<!-- End of Navbar -->
<div class="container-fluid">
    <h1 class="text-center m-2">Your Form Was Submitted Successfully</h1>
    <div class="text-center mt-2 mb-2">
        <a href="branchprofile" class="btn btn-primary rounded-0 border-0"
        >Return To Profile</a>
    </div>
    <h2 class="text-center summary-h mt-5">Below is a summary of your submissions</h2>

    <div class="row mt-2">
        <div class="col-md-2 col-1 col-lg-3"></div>
        <div class="card text-center col-lg-6 col-md-8 col-10 p-0 boxShadow mb-2">
            <h5 class="list-group-item list-group-item-primary bglblue white list-group-flush">Custom Targets</h5>
            <ul class="list-group list-group-flush">
                <check if="@isEmptyTargets!=true">
                    <true>
                        <repeat group="{{ @SESSION.confirmTargets}}"
                                key="{{ @key }}"
                                value="{{ @value }}">
                            <check if="{{@value}} !==''">
                            <li class="list-group-item">{{@value}}</li>
                            </check>
                        </repeat>
                    </true>
                    <false>
                        <li class="list-group-item">No Custom Targets Provided</li>
                    </false>
                </check>
            </ul>
        </div>
        <div class="col-md-2 col-1 col-lg-3"></div>
    </div>

    <div class="row mt-2">
        <div class="col-md-2 col-1 col-lg-3"></div>
        <div class="card text-center col-lg-6 col-md-8 col-10 p-0 boxShadow mt-2 mb-2">
            <h5 class="list-group-item list-group-item-primary bglblue white list-group-flush">Custom Feelings</h5>
            <ul class="list-group list-group-flush">
                <check if="@isEmptyEmotions!=true">
                    <true>
                        <repeat group="{{@SESSION.confirmEmotions}}"
                                key="{{ @key }}"
                                value="{{ @value }}">
                            <check if="@value!==''">
                            <li class="list-group-item">{{@value}}</li>
                            </check>
                        </repeat>
                    </true>
                    <false>
                        <li class="list-group-item">No Custom Feelings Provided</li>
                    </false>
                </check>
            </ul>
        </div>
        <div class="col-md-2 col-1 col-lg-3"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>