<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="stylesheets/general.css" lang="en">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <title>Clincian DBT Create</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bgdkblue">
    <a class="navbar-brand mus" href="branchprofile">
        Valley <span class="lgold">|</span> Cities DBT Portal
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse text-right mus">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="#" class="nav-link mus font-weight-bold">Quicksearch</a>
            </li>
            <li class="nav-item">
                <a href="./" class="nav-link mus font-weight-bold">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">


<!--_________________________________End of Nav______________________________________________________________________-->

<h1 class="text-center mt-4 m-2"><strong>Create Weekly DBT</strong></h1>
<h2 class="text-center">Client#:{{@id}}</h2>
<div class="border  rounded m-4">
    <form id="form" action="#" method="post">
        <div class="col-12 mt-3 ml-2">
            <h3 class="form-row">Targets:</h3>
            <span class="text-danger text-center">{{@errors.feelings}}</span>
            <div class="target_wrapper mb-1">
                <div class="form-row">
                    <button type="button" class="btn add_target_button btn-sm btn-primary white bgdkgold mus font-weight-bold rounded-0
                border-0 mb-2">Add a New Target</button>
                </div>
            </div>
            <hr>
            <p class="text-center mt-1">Targets Included In All DBT Forms-<span class="btn hideshow btn-link">Show</span></p>
            <div class="mt-1 mb-1 form-row showing">
                <repeat group="{{ @targets}}"
                        key="{{ @key }}"
                        value="{{ @value }}">
                    <input disabled type="text" value="{{ucwords(@value['targetName'])}}" class="form-control mt-1 col-12" name="targets[]" required/>
                </repeat>
            </div>
        </div>

        <hr>
        <div class="col-12 ml-2">
            <h3 class="form-row">Emotions: </h3>
            <div class="input_fields_wrap mb-1">
                <div class="form-row">
                    <button type="button" class="add_field_button btn btn-sm btn-primary white bgdkgold mus font-weight-bold rounded-0
                border-0 mb-2">Add a New Emotions</button>
                </div>
            </div>
            <hr>
            <p class="text-center mt-1">Emotions Included In All DBT Forms-<span class="hideshow btn btn-link">Show</span></p>
            <div class="mt-1 mb-1 form-row showing">
                <repeat group="{{ @emotions}}"
                        key="{{ @key }}"
                        value="{{ @value }}">
                    <input disabled type="text" value="{{ucwords(@value['emotionName'])}}" class="form-control mt-1 col-12" name="feelings[]" required/>
                </repeat>
            </div>
            <div class="text-right mt-2 mb-2">
                <button type="submit" class="btn btn-secondary font-weight-bold rounded-0 border-0">Submit</button>
            </div>
        </div>
    </form>
</div>
</div>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="model/js/form.js"></script>
</body>