<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="stylesheets/general.css" lang="en">
    <title></title>
</head>
<body>
<!-- CodePly modified code -->
<nav class="navbar navbar-expand-lg bglblue">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand white" href="#">
            Valley <span class="lgold">|</span> Cities DBT Portal
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="./" class="nav-link white">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container border border-dark m-4">
    <form action="#" method="post">
    <div class="col-sm-12">
        <h4>Add Targets: </h4>
        <div class="target_wrapper">
            <button class="add_target_button btn-sml btn-primary m-2">Add a new Target</button>
            <input type="text" class="form-control mb-3" name="mytext[]" placeholder="Enter Targets Here">
        </div>
    </div>
    <hr>
    <div class="col-sm-12">
    <h4>Add Feelings: </h4>
        <div class="input_fields_wrap">
            <button class="add_field_button btn-sml btn-primary m-2">Add a new feeling</button>
            <input type="text" class="form-control mb-3" name="mytext[]" placeholder="Enter Feeling Here">
        </div>
        <div class="container text-right m-1">
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="model/js/form.js"></script>
</body>