<!doctype html>
<html lang="en">
<head>
    <!--
        Zachary Lindgren
        Bruce Turner
        10/9/19
        Emotion.html
        A dummy version of the Emotions page of the VC DBT diary form
    -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="stylesheets/general.css" lang="en">
    <link type="text/css" rel="stylesheet" href="stylesheets/diary.css" lang="en">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
<title>Emotions</title>
</head>
<body>
<!-- CodePly modified code -->

<!-- CodePly modified code -->
<nav class="navbar navbar-expand-lg navbar-dark bglghtestblue">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand dkblue mus" href="branchprofile">
            Valley <span class="lgold">|</span> Cities DBT Portal
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="#" class="nav-link white mus font-weight-bold">Quicksearch</a>
            </li>
            <li class="nav-item">
                <a href="./" class="nav-link white mus font-weight-bold">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<h1>Emotions</h1>
<div class="container text-right m-1 mb-2">
      <button class="btn btn-primary white bgdkgold mus font-weight-bold rounded-0
                    border-0">Save</button>

</div>
<form method="POST" action="#">
  <table class="table table-striped">
    <tr>
        <th scope="col">
            Emotions
        </th>
        <th scope="col">
            Intensity
        </th>
    </tr>
    <tr>
        <td>
            Self Acceptance
        </td>
        <td>
            <select>
                <option>--</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>

    </tr>
    <tr>
        <td>
            Compassion
        </td>
        <td>
            <select>
                <option>--</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>

    </tr>
    <tr>
        <td>
            Anger
        </td>
        <td>
            <select>
                <option>--</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>

    </tr>
    <tr>
        <td>
            Joy
        </td>
        <td>
            <select>
                <option>--</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>

    </tr>
    <tr>
        <td>
            Shame
        </td>
        <td>
            <select>
                <option>--</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>

    </tr>
   </table>

<div class="container text-right m-1 mb-2">
      <button type="submit" class="btn btn-primary white bgdkgold mus font-weight-bold rounded-0
                    border-0" name="btn-submit" value="prev">Previous</button>
      <button type="submit" class="btn btn-secondary" name="btn-submit" value="prev">Next</button>
</div>

</form>

</body>