<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="stylesheets/general.css" lang="en">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <title>Diary Card Portal</title>
</head>
<body>
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-lg-12">
        <h1 class="dkblue text-center">Valley <span class="lgold">|</span> Cities</h1>
        </div>
        <div class="col-lg-12">
        <h2 class="lblue text-center">DBT Diary Card Portal</h2>
        </div>
    </div>
</div>

<div class="container rounded mt-5">
    <div class="row  pb-2 pt-3">
        <div class="col-lg-3 col-sm-0"></div>
        <div class="col-lg-6 col-sm-12">
            <form class="form-group" action="#" method="post">
                <label for="inputUsername" class="dkgrey">Username</label>
                <input type="text" class="form-control form-control-lg" name="user"
                       id="inputUsername" placeholder="Username">
                <label for="inputPassword" class="dkgrey">Password</label>
                <input type="password" class="form-control form-control-lg"
                       name="pass" id="inputPassword" placeholder="Password">
                <div class="text-center">
                    <span class="text-danger">{{@error}} {{@redirect}}</span>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-2 mb-2 white bgdkgold mus font-weight-bold rounded-0 border-0">Login</button>
                </div>
                <p class="dkgrey text-center">Unable to login please contact your group leader for assistance</p>
            </form>
        </div>
        <div class="col-lg-3 col-sm-0"></div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>