<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="stylesheets/general.css" lang="en">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <title>Diary Card Portal</title>
</head>
<body>
<div class="m-2 p-2">
    <h1 class="dkblue text-center">Valley <span class="lgold">|</span> Cities</h1>
    <h2 class="lblue text-center">DBT Diary Card Portal</h2>
    <div class="p-2 border rounded m-5">
    <form class="form-group col-lg-12" action="#" method="post">
        <label for="inputUsername" class="dkgrey">Username</label>
        <input type="text" class="form-control" name="user" id="inputUsername" placeholder="Username">
        <label for="inputPassword" class="dkgrey">Password</label>
        <input type="password" class="form-control" name="pass" id="inputPassword" placeholder="Password">
        <button type="submit" class="btn btn-primary text-right mt-2 mb-2">Login</button>
        <p class="dkgrey">Unable to log in or not a subscriber yet <a href="tel:1253-833-7444">Call us at (253)833-7444</a></p>
    </form>
    </div>
</div>
</body>