<!DOCTYPE html>
<html lang="en">
<head>
    <!--
        Alicia B & Zack L
        11/12/19
        memberprofile.html
        The profile page for the clients
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="stylesheets/general.css" lang="en">
    <link type="text/css" rel="stylesheet" href="stylesheets/carousel.css" lang="en">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <title>Member | Dashboard</title>
</head>
<body>
<!-- Navbar -------------------------------------------------------->
<nav class="navbar navbar-expand-lg navbar-dark bgdkblue">
    <a class="navbar-brand mus" href="memberprofile">
        Valley <span class="lgold">|</span> Cities DBT Portal
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse text-right mus">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="./" class="nav-link mus font-weight-bold">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Makes sure that the client has a form to fill out -->
<check if="{{ @dateRange == null }}">
    <true>
        <div class="container text-center">
            <h1>You have no form to fill out.</h1>
        </div>
    </true>
    <false>
        <div class="container text-center">
            <div class="row mt-5">
                <div class="col-sm-3 col-lg-4"></div>

                <!-- Date Carousel -->
                <div id="datepicker" class="carousel col" data-interval="false" data-ride="carousel" data-wrap="false">
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <repeat group="{{ @dateRange }}" key="{{ @day }}" value="{{ @dates }}">
                            <div id="{{ @dates[1] }}" class="carousel-item <check if="{{ @currentDate == @dates[0] }}">
                            <true>
                                active
                            </true>
                            </check>">
                                <h1>{{ @day }}</h1>
                                <h2>{{ @dates[0] }}</h2>
                            </div>
                        </repeat>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev arrow" href="#datepicker" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next arrow" href="#datepicker" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>

                <div class="col-sm-3 col-lg-4"></div>
            </div>
            <form action="#" method="post">
                <!-- Hidden form field in order to post the chosen date in the carousel -->
                <input id="date" type="text" value="" hidden>
                <!-- Submit button -->
                <button id="submit" type="submit" class="btn btn-lg btn-primary white bgdkgold mus font-weight-bold
                        rounded-0 border-0 text-center mt-5">Complete Today's Diary Entry</button>

                <!-- Confirmation message when the client submits -->
                <h3 class="text-center text-success mt-4">{{@GET.confirm}}</h3>
            </form>
        </div>
    </false>
</check>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="model/js/carousel.js"></script>
</body>
</html>