<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="stylesheets/general.css" lang="en">
    <link type="text/css" rel="stylesheet" href="stylesheets/skill_styles.css" lang="en">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <title>Daily Diary Card</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bglghtestblue">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand dkblue mus" href="memberprofile">
            Valley <span class="lgold">|</span> Cities DBT Portal
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="./" class="nav-link white mus font-weight-bold">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<!-- TODO: Page Tabs and consolidate forms into one, remove excess routes -->

<!-- Start of Form -->
<form action="#" method="post">

    <!-- TODO Start of Targets Tab -->

    <!-- TODO Start of Emotions Tab -->

    <!-- Start of DBT SKILLS Tab -->
    <h2 class="text-center mt-4 mb-4"><strong>DBT Skills Used</strong></h2>
    <!-- Degree Used Scale -->
    <h3 class="text-center skill_key_h3">Fill in a number for the degree to which you used a skill.</h3>
    <div class="list skill_key">
        <ol>
            <li>Realized afterwards that I should have used skill.</li>
            <li>Thought about skill but chose not to use it.</li>
            <li>Realized afterwards that I did use skill effectively.</li>
            <li>Mindfully tried to use skill but wasn't effective.</li>
            <li>Mindfully used skill effectively</li>
        </ol>
    </div>
    <!-- Collapsible Core Skills -->
    <div class="accordion" id="coreskills">
        <repeat group="{{ @skillcategory }}" key="{{ @category }}" value="{{ @skill }}">
            <!-- Card Header -->
            <div class="card">
                <div class="card-header text-center p-4"
                     id="{{ str_replace(' ', '', strtolower(@category)) . 'header' }}">
                    <h2 class="mb-0 card_h2" data-toggle="collapse"
                        data-target="#{{ str_replace(' ', '', strtolower(@category)) }}"
                        aria-expanded="true" aria-controls="{{ str_replace(' ', '', strtolower(@category)) }}">
                        <strong>{{ @category }}</strong>
                    </h2>
                </div>
                <!-- Card body - contains a row for each skill, a checkbox, numeric input 1-5  -->
                <div id="{{ str_replace(' ', '', strtolower(@category)) }}" class="collapse"
                     aria-labelledby="{{ str_replace(' ', '', strtolower(@category)) . 'header' }}"
                     data-parent="#coreskills">
                    <!-- table in card  -->
                    <table class="card-body table table-striped">
                        <thead>
                        <tr>
                            <th colspan="2"></th>
                            <th class="text-center">Skill Used</th>
                            <th class="text-center">Degree Used</th>
                        </tr>
                        </thead>
                        <tbody>
                        <repeat group="{{ @skill }}" value="{{ @skillname }}">
                            <tr>
                                <td colspan="1"></td>
                                <td>{{ @skillname }}</td>
                                <td>
                                    <div class="form-check text-center">
                                        <input class="form-check-input" type="checkbox" value="{{ @skillname }}"
                                               id="{{ str_replace(' ', '', strtolower(@skillname)) . 'check' }}">
                                        <label class="form-check-label"
                                               for="{{ str_replace(' ', '', strtolower(@skillname)) . 'check' }}">
                                        </label>
                                    </div>
                                </td>
                                <td class="text-center" >
                                    <select class="custom-select col-sm-2 col-md-4"
                                            id="{{ str_replace(' ', '', strtolower(@skillname)) . 'degree' }}">
                                        <option selected disabled>--</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <label for="{{ str_replace(' ', '', strtolower(@skillname)) . 'degree' }}">
                                    </label>
                                </td>
                            </tr>
                        </repeat>
                        </tbody>
                    </table>
                </div>
            </div>
        </repeat>
    </div>
    <div class="col text-center mt-3">
        <button type="submit" class="btn btn-lg btn-primary white bgdkgold mus font-weight-bold
            rounded-0 border-0 text-center mt-3"
                name="btn-submit" value="save">Save Progress</button>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>