<!doctype html>
<html lang="en">
<head>
    <!--
        Zachary Lindgren
        Bruce Turner
        10/9/19
        Targets.html
        A dummy version of the Emotions page of the VC DBT diary form
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="stylesheets/general.css" lang="en">
    <link type="text/css" rel="stylesheet" href="stylesheets/diary.css" lang="en">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
<title>Targets</title>
</head>
<body>
<!-- CodePly modified code -->

<!-- CodePly modified code -->
<nav class="navbar navbar-expand-lg navbar-dark bglghtestblue">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand dkblue mus" href="memberprofile">
            Valley <span class="lgold">|</span> Cities DBT Portal
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="./" class="nav-link white mus font-weight-bold">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<h2 class="mt-4"><strong>Targets</strong></h2>
<div class="container text-right m-1 mb-2">
      <button class="btn btn-primary white bgdkgold mus font-weight-bold rounded-0
                    border-0">Save</button>

</div>
<form method="POST" action="#">
	<table class="table table-striped">
        <tr>
            <th scope="col">
                Targets
            </th>
            <th scope="col">
                Urge
            </th>
            <th scope="col">
                Action
            </th>
        </tr>
        <tr>
            <td>
                Self Harm
            </td>
            <td>
                <select>
                    <option value="">--</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </td>
            <td>
                <input type="checkbox">
            </td>
        </tr>
        <tr>
            <td>
                Suicidal Ideation
            </td>
            <td>
                <select>
                    <option>--</option>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </td>
            <td>
                <input type="checkbox">
            </td>
        </tr>
        <tr>
            <td>
                Substance Use
            </td>
            <td>
                <select>
                    <option>--</option>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </td>
            <td>
                <input type="checkbox">
            </td>
        </tr>

   </table>

<div class="container text-right m-1 mb-2">
      <!--<button class="btn btn-primary white bgdkgold mus font-weight-bold rounded-0
                    border-0">Previous</button>-->
    <button type="submit" class="btn btn-secondary rounded-0 border-0" name="btn-submit" value="next">Next</button>
</div>

</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>