<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/general.css" lang="en">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <title>Group Leader | Dashboard</title>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bgdkblue">
    <a class="navbar-brand mus" href="branchprofile">
        Valley <span class="lgold">|</span> Cities DBT Portal
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse text-right mus">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="#" class="nav-link mus font-weight-bold">Quicksearch</a>
            </li>
            <li class="nav-item">
                <a href="./" class="nav-link mus font-weight-bold">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <!--Header-->
    <h1 class="text-center mt-4">View Weekly DBT</h1>
    <h2 class="text-center">Client# {{@GET.id}}</h2>
    <h3 class="text-center">{{@displayStart}} - {{@displayEnd}}</h3>


    <!-- Target Table -->
    <h2 class="text-center mt-5">Targets</h2>
    <div class=" table-responsive pagination">
        <table id="targets" class="cell-border">
            <tr>
                <th class="bglblue white" colspan="2">Targets</th>
                <repeat group="{{@dates}}"
                        key="{{ @key }}"
                        value="{{ @value }}">
                    <th class="bglblue white">{{@value}}</th>
                </repeat>
            </tr>

            <repeat group="{{ @targets }}" key="{{ @index }}" value="{{ @target }}">
                <tr>
                    <td rowspan="2">{{@target}}</td>
                    <td>Urge</td>
                    <repeat group="{{@dates}}"
                            key="{{ @key }}"
                            value="{{ @value }}">
                        <td>3</td>
                    </repeat>
                </tr>
                <tr>
                    <td>Action</td>
                    <repeat group="{{@dates}}"
                            key="{{ @key }}"
                            value="{{ @value }}">
                        <td><input type="checkbox" disabled checked></td>
                    </repeat>
                </tr>
            </repeat>
        </table>
    </div>

    <!-- Emotion Table -->
    <h2 class="text-center mt-5 bgwhite">Emotions</h2>
    <div class="mt-5 table-responsive pagination">
        <table id="feelings" class="cell-border">
            <tr>
                <th class="bglblue white">Emotions</th>
                <repeat group="{{@dates}}"
                        key="{{ @key }}"
                        value="{{ @value }}">
                    <th class="bglblue white">{{@value}}</th>
                </repeat>
            </tr>
            <repeat group="{{ @emotions }}" key="{{ @index }}" value="{{ @emotion }}">
                <tr>
                    <td>{{@emotion}}</td>
                    <repeat group="{{@dates}}"
                            key="{{ @key }}"
                            value="{{ @value }}">
                        <td>1</td>
                    </repeat>
                </tr>
            </repeat>
        </table>
    </div>

    <!-- Skills Table -->
    <h2 class="mt-5 text-center">Skills</h2>
    <div class="mt-5 table-responsive pagination">
        <table id="skill" class="cell-border">
            <tr>
                <th class="bglblue white" colspan="2">DBT Skills</th>
                <repeat group="{{ @dates }}"
                        key="{{ @key }}"
                        value="{{ @day }}">
                    <th class="bglblue white">{{@day}}</th>
                </repeat>
            </tr>
            <repeat group="{{ @skillcategory }}" key="{{ @core }}" value="{{ @skills }}">
                <tr>
                    <td rowspan="{{sizeof(@skills)}}">{{ @core }}</td>
                    <repeat group="{{ @skills }}" key="{{ @index }}" value="{{ @skill }}">
                        <check if="{{ @skills.0 == @skill }}" >
                            <false>
                <tr>
                    </false>
                    </check>
                    <td>{{ @skill }}</td>
                    <repeat group="{{ @dates }}" key="{{ @datekey }}" value="{{@datevalue}}">
                        <td>{{ @datekey }}</td>
                    </repeat>
                </tr>
            </repeat>
            </repeat>
        </table>
    </div>

    <h2 class="mt-5 text-center">Notes</h2>
    <p class="text-center">This is a note</p>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script>
    // Scripts for data tables
    $(document).ready( function () {
        $('#targets').DataTable();
    } );
    $('#branchtable').DataTable( {
        responsive: true
    } );
</script>
<script>
    $(document).ready( function () {
        $('#feelings').DataTable();
    } );
    $('#branchtable').DataTable( {
        responsive: true
    } );
</script>
<script>
    $(document).ready( function () {
        $('#skill').DataTable();
    } );
    $('#branchtable').DataTable( {
        responsive: true
    } );
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>